footer {
    background-color: map-get($background-colors, background-secondary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 25px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: map-get($background-colors, background-dark);
    font-family: $font-text;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0px;
    width: 95%;
    .footer-container-left {
        .footer-img {
            display: block;
        }
    }
    .footer-container-middle {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .footer-title{
            color: map-get($text-colors, text-secondary);
        }
        .fa-brands {
            color: map-get($text-colors, text-alternative);
            text-decoration: none;
            transition: all;
            &:hover {
                color: map-get($text-colors, text-secondary);
            }
        }
        .fa-square-facebook,
        .fa-square-instagram,
        .fa-square-twitter {
            font-size:3rem;
        }
    }
    .footer-container-right {
        padding: 10px;
        .footer-title{
            color: map-get($text-colors, text-secondary);
        }
        .footer-link {
            color: map-get($text-colors, text-alternative);
            text-decoration: none;
            transition: all;
            &:hover {
                color: map-get($text-colors, text-secondary);
            }
        }
    }
    @media screen and (max-width:480px) {
        .footer-container-left {
            .footer-img {
                display: none;
            }
        }
        .footer-container-middle {
            .fa-square-facebook,
            .fa-square-instagram,
            .fa-square-twitter {
                font-size:2rem;
            }
        }
        .footer-container-right {
            .footer-link {
                font-size: map-get($text-size, text-mobile)
            }
        }
    }
}