.header-container {
    margin-top: 20px;
    width: 95%;
    .header-container-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        background-color: map-get($background-colors, background-alternative);
        border-top-left-radius: 05px;
        border-top-right-radius: 05px;
        padding: 10px;
        height: 400px;
        background-image: url("../images/header/bg_header.png");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        .header-img {
            border-radius: 05px;
            opacity: 70%;
            width: 340px;
        }
    }
    @media screen and (max-width:480px) {
        .header-container-images {
            align-items: center;
        }
    }
}