body {
    background-color: map-get($background-colors, background-dark);
}

img {
    width: 100%;
}

.main-container {
    width: 95%;
    .main-title {
        font-family: $font-title;
        color: map-get($text-colors, text-secondary);
        padding: 15px;
    }
    .container-menu {
        background-color: map-get($background-colors, background-secondary);
        border-bottom-right-radius: 05px;
        border-bottom-left-radius: 05px;
    }
    .container-carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-card-page-inx {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .container-card-page-per {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .container-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        .media-iframe {
            width: 560px;
            height: 315px;
        }
    }
    .container-gallery {
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 05px;
        column-gap: 05px;
        .gallery-img {
            opacity: 50%;
            padding: 10px;
            transition: padding 0.5s ease;
            &:hover {
                opacity: 100%;
                padding: 0;
            }
        }
        .gallery-img:nth-of-type(1){
            grid-column: 1  /  4;
        }
        .gallery-img:nth-of-type(2){
            grid-column: 4  /  7;
        }
        .gallery-img:nth-of-type(3){
            grid-column: 7  /  10;
        }
        .gallery-img:nth-of-type(4){
            grid-column: 1  /  4;
        }
        .gallery-img:nth-of-type(5){
            grid-column: 4  /  7;
        }
        .gallery-img:nth-of-type(6){
            grid-column: 7  /  10;
        }
        .gallery-img:nth-of-type(7){
            grid-column: 1  /  4;
        }
        .gallery-img:nth-of-type(8){
            grid-column: 4  /  7;
        }
        .gallery-img:nth-of-type(9){
            grid-column: 7  /  10;
        }
    }
    .container-contact {
        display: flex;
    }
    @media screen and (max-width:480px) {
        .main-title {
            text-align: center;
        }
        .container-gallery {
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(5, auto);
            width: 100%;
            .gallery-img:nth-of-type(1){
                grid-column: 1  /  4;
            }
            .gallery-img:nth-of-type(2){
                grid-column: 4  /  7;
            }
            .gallery-img:nth-of-type(3){
                grid-column: 1  /  4;
            }
            .gallery-img:nth-of-type(4){
                grid-column: 4  /  7;
            }
            .gallery-img:nth-of-type(5){
                grid-column: 1  /  4;
            }
            .gallery-img:nth-of-type(6){
                grid-column: 4  /  7;
            }
            .gallery-img:nth-of-type(7){
                grid-column: 1  /  4;
            }
            .gallery-img:nth-of-type(8){
                grid-column: 4  /  7;
            }
            .gallery-img:nth-of-type(9){
                grid-column: 1  /  7;
            }
        }
        .container-media {
            .media-iframe {
                width: 400px;
            }
        }
        .container-contact {
            flex-direction: column;
            .button_E,
            .button_L {
                width: 100%;
            }
        }
    }
}