$background-colors: (
    background-primary: #111111,
    background-secondary: #333333,
    background-alternative: #E5E8E8,
    background-dark: #000000,
);

$button-colors: (
    button-primary: #D4AC0D,
    button-secundary: #edcf58,
    button-hover: #6f5a04,
);

$text-colors: (
    text-primary: #363535,
    text-secondary: #D4AC0D,
    text-alternative: #E5E8E8, 
    text-dark: #000000
);

$text-size: (
    text-large: 5.2em,
    text-medium: 2.2em,
    text-base: 1.6em,
    text-small: 1.4em,
    text-mobile: 0.7em,
);

$form-colors: (
    secondary: #D4AC0D
);