/* Fuentes --> Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Montserrat&display=swap');

/* Definición de variables */
:root {
    /* Font-family */
    --font-title: 'Cormorant', serif;
    --font-subtitle: 'Cormorant', serif;
    --font-text: 'Montserrat', sans-serif;
    --font-menu: 'Montserrat', sans-serif;

    /* Colors Text */
    --text-primary: #363535;
    --text-secondary: #D4AC0D;
    --text-alternative: #E5E8E8; 
    --text-dark: #000000;

    /* Colors Page Elements */
    --background-primary: #111111;
    --background-secondary: #333333;
    --background-alternative: #E5E8E8;
    --background-dark: #000000;
    --background-buttom: #D4AC0D;
    --background-buttom-hover: #6f5a04;
}

/*-- Etiquetas Globales --*/
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-primary);
}

footer {
    background-color: var(--background-secondary);
    padding-top: 25px;
    padding-bottom: 0px;
}

img {
    width: 100%;
}

 
/*-- Clases Globales --> HEADER --*/
.header {
    background-color: var(--background-alternative);
    border-top-left-radius: 05px;
    border-top-right-radius: 05px;
    padding: 05px;
}

.header__title {
    font-family: var(--font-title);
    color: var(--text-primary);
}

.menu {
    background-color: var(--background-secondary);
    border-bottom-left-radius: 05px;
    border-bottom-right-radius: 05px;
    padding-top: 10px;
}

.menu__nav {
    font-family: var(--font-menu);
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: var(--text-alternative);
    text-decoration: none;
    transition: all;
}

.menu__link:hover {
    color: var(--text-secondary);
}

/*-- Clases Globales --> MAIN --*/
.main__title {
    font-family: var(--font-title);
    color: var(--text-secondary);
    padding: 15px;
}

.card-title {
    font-family: var(--font-title);
    color: var(--text-dark);
}

.card__subtitle {
    font-family: var(--font-subtitle);
    color: var(--text-secondary);
}

/*-- Clases --> FOOTER --*/
.footer_section {
    background-color: var(--background-dark);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.footer__item {
    font-family: var(--font-text);
}

.footer__link {
    color: var(--text-alternative);
    text-decoration: none;
    padding: 05px;
}

.footer__link:hover {
    color: var(--text-secondary);
}

.footer__img {
    width: 40px;
    height: 40px;
}

.footer__title{
    font-family: var(--font-text);
    color: var(--text-secondary);
}

.footer__menu {
    font-family: var(--font-text);
    font-size: var(--text-small);
    padding: 10px;
}


/*-- Clases --> MAIN (Página: personajes) --*/
.box__img {
    padding: 05px;
    opacity: 70%;
    transition: all 0.5s ease;
}

.box__img:hover {
    opacity: 100%;
}

/*-- Clases --> MAIN (Página: galeria) --*/
.gallery{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 05px;
    column-gap: 05px;
}

.gallery__img {
    opacity: 50%;
    padding: 10px;
    transition: padding 0.5s ease;
}

.gallery__img:hover {
    opacity: 100%;
    padding: 0;
}

.gallery__img:nth-of-type(1){
    grid-column: 1  /  4;
}
.gallery__img:nth-of-type(2){
    grid-column: 4  /  7;
}
.gallery__img:nth-of-type(3){
    grid-column: 7  /  10;
}
.gallery__img:nth-of-type(4){
    grid-column: 1  /  4;
}
.gallery__img:nth-of-type(5){
    grid-column: 4  /  7;
}
.gallery__img:nth-of-type(6){
    grid-column: 7  /  10;
}
.gallery__img:nth-of-type(7){
    grid-column: 1  /  4;
}
.gallery__img:nth-of-type(8){
    grid-column: 4  /  7;
}
.gallery__img:nth-of-type(9){
    grid-column: 7  /  10;
}

/*-- Clases --> MAIN (Página: videos) --*/
.media__info {
    background-color: var(--background-alternative);
    color: var(--text-primary);
    border: 1px solid #fff;
    border-radius: 5px;
}

.media__title{
    font-family: var(--font-title);
    color: var(--text-primary);
}

.media__iframe {
    width: 560px;
    height: 315px;
}

/*-- Clases --> MAIN (Página: contacto) --*/
.form-label,
.form-control,
.form-select {
    font-family: var(--font-text);
    color: var(--text-dark);
}

.form-label {
    color: var(--text-alternative);    
}

/*-- Media Queries --> Mobile --*/
@media screen and (max-width:480px) {

    .footer__img {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(5, auto);
        width: 80%;
    }
    
    .gallery__img:nth-of-type(1){
        grid-column: 1  /  4;
    }
    .gallery__img:nth-of-type(2){
        grid-column: 4  /  7;
    }
    .gallery__img:nth-of-type(3){
        grid-column: 1  /  4;
    }
    .gallery__img:nth-of-type(4){
        grid-column: 4  /  7;
    }
    .gallery__img:nth-of-type(5){
        grid-column: 1  /  4;
    }
    .gallery__img:nth-of-type(6){
        grid-column: 4  /  7;
    }
    .gallery__img:nth-of-type(7){
        grid-column: 1  /  4;
    }
    .gallery__img:nth-of-type(8){
        grid-column: 4  /  7;
    }
    .gallery__img:nth-of-type(9){
        grid-column: 1  /  7;
    }

    .media__title {
        font-size: var(--text-small);
    }

    .media__iframe {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}