/* Fuentes --> Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Montserrat&display=swap');

/* Definición de variables */
:root {
    /* Font-family */
    --font-title: 'Cormorant', serif;
    --font-subtitle: 'Cormorant', serif;
    --font-text: 'Montserrat', sans-serif;
    --font-menu: 'Montserrat', sans-serif;

    /* Colors Text */
    --text-primary: #363535;
    --text-secondary: #D4AC0D;
    --text-alternative: #E5E8E8; 
    --text-dark: #000000;

    /* Colors Page Elements */
    --background-primary: #111111;
    --background-secondary: #333333;
    --background-alternative: #E5E8E8;
    --background-dark: #000000;
    --background-buttom: #D4AC0D;
    --background-buttom-hover: #6f5a04;

    /* Font-Sizes */
    --text-large: 5.2em;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;
    --text-mobile: 0.7em;
}

/*-- Etiquetas Globales --*/
body {
    background-color: var(--background-primary);
}

footer {
    background-color: var(--background-secondary);
    padding-top: 25px;
}

img {
    width: 100%;
}

/*-- Clases Globales --*/
.header-container,
.main-container,
.footer-container {
    width: 95%;
}

.text-highlighted-yellow {
    color: var(--text-secondary);
    font-weight: bold;
}

/*-- Clases Globales --> HEADER --*/
.header-container {
    margin-top: 20px;
}

.header-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-alternative);
    border-top-left-radius: 05px;
    border-top-right-radius: 05px;
    padding: 05px;
}

.header-container-menu {
    background-color: var(--background-secondary);
    border-bottom-right-radius: 05px;
    border-bottom-left-radius: 05px;
}

.header-img {
    border-radius: 05px;
}

.header-title {
    font-family: var(--font-title);
    color: var(--text-primary);
}

/*-- Clases Globales --> MAIN --*/
.main-title {
    font-family: var(--font-title);
    color: var(--text-secondary);
    padding: 15px;
}

.main-container-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*-- Clases Globales --> FOOTER --*/
.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-dark);
    font-family: var(--font-text);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0px;
}

.footer-container-middle {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer-container-right {
    padding: 10px;
}

.footer-title{
    color: var(--text-secondary);
}

.fa-brands {
    color: var(--text-alternative);
    text-decoration: none;
    transition: all;
}

.fa-brands:hover {
    color: var(--text-secondary);
}

.footer-link {
    color: var(--text-alternative);
    text-decoration: none;
    transition: all;
}

.footer-link:hover {
    color: var(--text-secondary);
}

.fa-square-facebook,
.fa-square-instagram,
.fa-square-twitter {
    font-size:3rem;
}

/*-- Clases --> MAIN (Página: index) --*/
.container-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- Clases --> MAIN (Página: personajes) --*/
.box-img {
    opacity: 70%;
    transition: all 0.5s ease;
}

.box-img:hover {
    opacity: 100%;
}

.container-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*-- Clases --> MAIN (Página: galeria) --*/
.main-container-gallery {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 05px;
    column-gap: 05px;
}

.gallery-img {
    opacity: 50%;
    padding: 10px;
    transition: padding 0.5s ease;
}

.gallery-img:hover {
    opacity: 100%;
    padding: 0;
}

.gallery-img:nth-of-type(1){
    grid-column: 1  /  4;
}
.gallery-img:nth-of-type(2){
    grid-column: 4  /  7;
}
.gallery-img:nth-of-type(3){
    grid-column: 7  /  10;
}
.gallery-img:nth-of-type(4){
    grid-column: 1  /  4;
}
.gallery-img:nth-of-type(5){
    grid-column: 4  /  7;
}
.gallery-img:nth-of-type(6){
    grid-column: 7  /  10;
}
.gallery-img:nth-of-type(7){
    grid-column: 1  /  4;
}
.gallery-img:nth-of-type(8){
    grid-column: 4  /  7;
}
.gallery-img:nth-of-type(9){
    grid-column: 7  /  10;
}

/*-- Clases --> MAIN (Página: videos) --*/
.container-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-iframe {
    width: 560px;
    height: 315px;
}

/*-- Clases --> MAIN (Página: contacto) --*/
.contact-form {
    width: 40%;
}

.form-label,
.form-control,
.form-select {
    font-family: var(--font-text);
    color: var(--text-dark);
    font-size: small;
}

.form-label {
    color: var(--text-alternative);    
}

.form-text {
    font-family: var(--font-text);
}

/*-- Sobreescritura (Clases de Bootstrap) --*/
.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    font-family: var(--font-menu);
}

.nav-link {
    color: var(--text-alternative);
}

.nav-link:hover {
    color: var(--text-secondary);
}

.carousel {
    width: 80%;
}

.card-title {
    font-family: var(--font-title);
    color: var(--text-dark);
    font-weight: bold;
}

.card-subtitle {
    font-family: var(--font-subtitle);
    color: var(--text-secondary);
}

.card-text {
    font-family: var(--font-text);
    color: var(--text-primary);
    font-size: small;
}

.card-img-top {
    height: 20rem;
}

.accordion {
    width: 600px;
}

.accordion-item {
    background: transparent;
}

.accordion-button {
    background-color: var(--background-secondary);
    font-family: var(--font-title);
    color: var(--text-alternative);
}

.accordion-button:hover {
    color: var(--text-secondary);
}

.accordion-button:focus {
    color: var(--text-primary);
}

.collapsed { 
    color: var(--text-alternative);
}

.form-control:focus {
    border-color: var(--text-secondary);
    box-shadow: none;
}

/*-- Media Queries --> Mobile --*/
@media screen and (max-width:480px) {

    .header-container-top {
        flex-direction: column;
    }

    .header-title h1 {
        font-size: var(--text-small);
    }

    .main-title {
        text-align: center;
    }

    .footer-img {
        display: none;
    }

    .fa-square-facebook,
    .fa-square-instagram,
    .fa-square-twitter {
        font-size:2rem;
    }

    .main-container-gallery {
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(5, auto);
        width: 90%;
    }
    
    .card-text,
    .footer-link {
        font-size: var(--text-mobile);
    }

    .gallery-img:nth-of-type(1){
        grid-column: 1  /  4;
    }
    .gallery-img:nth-of-type(2){
        grid-column: 4  /  7;
    }
    .gallery-img:nth-of-type(3){
        grid-column: 1  /  4;
    }
    .gallery-img:nth-of-type(4){
        grid-column: 4  /  7;
    }
    .gallery-img:nth-of-type(5){
        grid-column: 1  /  4;
    }
    .gallery-img:nth-of-type(6){
        grid-column: 4  /  7;
    }
    .gallery-img:nth-of-type(7){
        grid-column: 1  /  4;
    }
    .gallery-img:nth-of-type(8){
        grid-column: 4  /  7;
    }
    .gallery-img:nth-of-type(9){
        grid-column: 1  /  7;
    }

    .accordion {
        width: 440px;
    }

    .media-iframe {
        width: 420px;
    }

    .contact-form,
    .btn {
        width: 100%;
    }
}